html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#scoreboard {
  display: flex;
  flex-direction: column;
}

#scores {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 10vh;
}

button {
  width: 20vw;
  height: 20vh;
  border-radius: 50%;
}

#rock-button:hover {
  background-color: red;
}

#paper-button:hover {
  background-color: blue;
}

#scissors-button:hover {
  background-color: green;
}

#game-results {
  font-size: 30px;
  font-style: italic;
}

.result-style {
  color: yellow;
}

.win-style {
  color: green;
}

.lose-style {
  color: red;
}