html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#scoreboard {
  border: 1px solid yellow;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#game-results {
  font-size: 30px;
  font-style: italic;
}

.result-style {
  color: yellow;
}

.win-style {
  color: green;
}

.lose-style {
  color: red;
}